.personaje-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.personaje {
    max-width: 100%;
    height: auto;
}
.container-campeones{
    width: calc(60% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-left: 10px;
    padding: 10px;
    border: 5px solid rgb(50, 68, 224);
    text-align: center;
}
.build {
    margin-top: 10px;
    display: flex;
    max-width: 100%; /* Evita que la imagen se haga m치s grande que su tama침o original */
    max-height: 100%; /* Evita que la imagen se haga m치s alta que su tama침o original */
}
.h1_campeones{
    background-color: #3498db;
    padding: 20px;
    border: 2px solid #2980b9;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}